<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
        <title>Simple app</title>
    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">


    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>

<body>

<style>
    .nav-item a {
        color: white !important;
    }

    .nav-item a.active {
        color: black !important;
        font-weight: bold;
    }

    .navbar-brand {
        color: white !important;
    }


</style>

<nav class="navbar navbar-light navbar-expand-lg warning-color-dark sticky-top "
     style="background-color: #F80!important;">


    <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30"
             class="d-inline-block align-top"
             alt="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {{ platform_users }}" href="{{ url_for('platform_users') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ data_instance }}" href="{{ url_for('data_instances') }}">Data
                        Instances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('playlist') }}" target="_blank">Play
                        List</a>
                </li>

            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {{ profile }}" href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>


            {% else %}
                <li class="nav-item">
                    <a class="nav-link {{ login }}" href="{{ url_for('login') }}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{ signup }}" href="{{ url_for('signup') }}">Signup</a>
                </li>

            {% endif %}
        </ul>

    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {#            {% with messages = get_flashed_messages() %}#}
            {#                {% if messages %}#}
            {#                    <ul class=flashes>#}
            {#                        {% for message in messages %}#}
            {#                            <li>{{ message }}</li>#}
            {#                        {% endfor %}#}
            {#                    </ul>#}
            {#                {% endif %}#}
            {#            {% endwith %}#}
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-1"></div>
    </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light" style="background-color: black !important;">
    <a class="navbar-brand" href="#">Fixed bottom</a>
</nav>
</body>


</html>