<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
    <br>
    <br>

    <a href="{{ url_for('upload_content') }}" class="btn btn-success">Add DataSet</a>
    <br>
    <br>
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>From Date</th>
            <th>To date</th>
{#            <th>Content</th>#}
            <th>File type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for instance in data_instances %}
            <tr>
                <td>{{ instance.from_date }}</td>
                <td>{{ instance.to_date }}</td>
{#                <td><a href="{{ url_for('uploaded_file', filename=instance.content) }}" target="_blank"><img#}
{#                        src="{{ url_for('uploaded_file', filename=instance.content) }}" width="50" height="50"></a></td>#}
                 <td>{{ instance.file_type }}</td>
                <td> {% if current_user.get_user_role() == 'admin' or instance.user == current_user.id %}<a href="{{ url_for('delete_instance', id=instance.id) }}" class="btn btn-danger">Delete</a> <a href="{{ url_for('edid_upload_content', id=instance.id) }}" class="btn btn-primary">Edit</a>{% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>

{% endblock %}